html {
  font-family: Verdana;
  background-color: Black;
  text-align: center;
}


h1 {
  font-weight: normal;
  font-size: 50px;
  color: White;
}

a:link,
a:visited {
  font-size: 16px;
  color: aquamarine;
}

a:hover,
a:active {
  filter: brightness(140%);
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-size: 21px;
  color: Gray;
}

footer > p {
  text-align: right;
}
